.container-employee-create {
    width: 25vw;
    max-width: 800px;
    height: 70vh;
    max-height: 500px;
    background-color: #f0fd71;
    border: 2px solid black;
}

.container-area-create {
    width: 25vw;
    max-width: 800px;
    height: 70vh;
    max-height: 500px;
    background-color: #f793c3;
    border: 2px solid black;
}

.container-area-create-bg {
    background-color: rgb(117, 211, 255);
}

.container-area-create-bg-above-bg {
    background-color: rgb(143, 244, 204);
    border: 2px solid black;
}

.employee-area-create-straight-line {
    border-bottom: 2px solid black;
}

.create-employee-circle {
    width: 2vw;
    height: 2vw;
    margin: 0.7vw;
    border-radius: 50%;
    border: 2px solid black;
}

.square-create-area {
    width: 2vw;
    height: 2vw;
    margin: 0.7vw;
    border: 2px solid black;
    position: relative;
}

.line-square-create {
    position: absolute;
    width: 150%;
    height: 2px;
    background-color: #000;
    transform-origin: center;
}

.line-square-create-line1 {
    transform: rotate(45deg);
}

.line-square-create-line2 {
    transform: rotate(-45deg);
}
