.cont-login {
    width: 40vw;
    max-width: 800px;
    height: 50vh;
    max-height: 500px;
    background-color: #f0fd71;
    border: 2px solid black;
}
.back {
    position: absolute;
    background-color: #ff99ff;
    z-index: 1;
    left: 28.5vw;
    top: 22.5vh;
}
.front {
    z-index: 10;
}
.nav-login {
    border-bottom: 2px solid black;
}

.circle {
    width: 2vw;
    height: 2vw;
    margin: 0.7vw;
    border-radius: 50%;
    border: 2px solid black;
}

.btn-login {
    margin-top: -2.5vw;
    font-size: 1.1vw;
    width: 16vw;
}
.btn-reg {
    margin-top: 2vw;
    font-size: 1.1vw;
    width: 16vw;
}
